@{
    ViewBag.Title = ViewData["Id"];
    
}
<script language="javascript">var Id = "@ViewData["Id"]";</script>
<div class="DocumentContainer">
    <div class="Document">
        <div class="Message">
            Click the + sign on the left to add a document and start a session, then click the share button to get a shareable session URL
        </div>
    </div>
</div>