<div class="TabContainer">
    <div class="MenuHead">
        <div class="Item">Documents</div>
        <div class="Item AddButton" onclick="AddDocument(event)">+</div>
    </div>
    <hr/>
    <div class="MenuBody">
    </div>
    <div class="MenuFoot">
        <input type="text" class="AddTextBox Hidden" onkeyup="LoseFocus(event)" onblur="CreateDocument(event)"/>
    </div>
</div>
